html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center center;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#now {
  display: flex;
  flex-direction: column;
}

#time {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 161px;
}

#date {
  display: flex;
  justify-content: center;
  font-size: x-large;
  padding-top: 10px;
}

#weather {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  background-color: rgb(128, 128, 128, 0.3);
  height: 15%;
}
