html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#now {
  display: flex;
  flex-direction: column;
}

#time {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  font-size: 161px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#time span {
  font-size: 50px;
  align-self: flex-end;
  padding-bottom: 23px;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#date {
  display: flex;
  justify-content: center;
  font-size: x-large;
  padding-top: 10px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#weather {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 67px;
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  background-color: rgb(128, 128, 128, 0.3);
  height: 15%;
}
